/* styles.css */

header {
    background-color: #DBFF3C;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .title {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
  }
  
  .language-selector {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 14px;
  }
  
  nav {
    background-color: #F5F5F5;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 50px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }


  body {
    margin: 0;
    padding: 0;
  } 


  main {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .image-container {
    position: relative;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
    width:280px
  }
  
  .search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #DBFF3C;
    color: black;
    font-size: 16px;
  }
  

  .recent-trips {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 0 auto;
  }

  .features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}   
  
  .feature {
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 300px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stars {
  padding: 20px;
}

  .feature img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
  }

  .duration,
  .location {
    display: flex;
    align-items: left;
    color: #000000;
    margin: 0;
    padding-top: 10px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: -10px;
  }
  
  .duration i,
  .location i {
    margin-right: 5px;
  }

  .space {
    margin-right: 20px;
  }

  .price{
    margin-bottom:70px;
    line-height:20px;
    text-align:left;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  .checked {
    color: gold;
  }
  .rating-title {
    display: block;
    margin-bottom: 10px;
  }
  .feature-content h3 {
    color: #000000;
    margin: 10;
    padding-top: 70px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: 10px;
  }

  .view-trip {
    display: inline-block;
    padding: 10px 17px;
    justify-content: center;
    background-color: #DBFF3C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    position: absolute;
    cursor: grab;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .view-trip:hover {
    background-color: #B5E61D;
  }

  footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
      }
  }
  
  .social-media-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media-icons img {
    width: 30px;
    height: 30px;
  }