/* styles.css */
/* Header + Banner */
header {
    background-color: #DBFF3C;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .title {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
  }
  
  .language-selector {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 14px;
  }
  /* Navigation Bar */
  nav {
    background-color: #F5F5F5;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 100px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  body {
    margin: 0;
    padding: 0;
  } 


/* Contact Form begins */
.contact-form {
    margin-top: 150px;
    text-align: center;
  }
  
/* 'Still not sorted?' */
  .contact-form h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
    margin-bottom: 10px;

  }

/* 'Send a message below' */
  .contact-form h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: black;
    margin-bottom: 20px;
  }

/* 'Select Category' */
  .contact-form select#category {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: black;
    padding: 5px;
    width: 500px;
    margin-bottom: 15px;
  }

/* 'this affects select category, first and last name, email, phone number and message containers' */
  .contact-form form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form .name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .contact-form .contact-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .contact-form .input-container {
    flex-basis: calc(50% - 10px); /* Adjust the margin between containers */
  }
  
  .contact-form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: light;
    color: black;
    margin-bottom: 10px;
  }
  
  .contact-form select,
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
  }
  
/* 'Message' container */
  .contact-form textarea {
    height: 150px;
    width: 500px;
    resize: vertical;
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto;
  }

/* 'Submit' button */
  .contact-form button[type="submit"] {
    background-color: #DBFF3C; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: grab;
    border-radius: 50px;
    margin-left: 350px;
  }

  .contact-form button[type="submit"]:hover {
    background-color: #B3FF00;
  }

  
/* Footer, social media icons */
  footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
   }  
  
   .social-media-icons .fa{
   padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
      }
  
  .social-media-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media-icons img {
    width: 30px;
    height: 30px;
  }

  /* Responsiveness (Mobile, Tablet, Laptop) */
  
  /* Mobile Styles */
  @media (max-width: 480px) {
    .header-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .title {
      margin-top: 20px;
    }

    nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .image-container {
      height: 200px;
    }

    .search-container {
      top: 40%;
    }

    .feature {
      width: 100%;
    }
  }

  /* Tablet Styles (1024px) */
  @media (min-width: 481px) and (max-width: 1024px) {
    .header-wrapper {
      justify-content: center;
      text-align: center;
    }

    .title {
      margin-top: 30px;
    }

    nav ul {
      justify-content: center;
      margin-top: 30px;
    }

    .image-container {
      height: 300px;
    }

    .search-container {
      top: 50%;
    }

    .feature {
      width: calc(50% - 20px);
    }
  }

/* Laptop Styles (Desktop) */

  /* Add desktop-specific styles here */
  @media (min-width: 2000px) {
    .header-wrapper {
      justify-content: space-between;
      text-align: left;
    }

    .title {
      margin-top: 40px;
    }

    nav ul {
      justify-content: flex-end;
      margin-top: 40px;
    }

    .image-container {
      height: 400px;
    }

    .search-container {
      top: 60%;
    }

    .feature {
      width: calc(33.33% - 20px);
    }
  }